body {
}
.subtitle {
font-size: 20px;
color: rgb(100,120,80)
}
.link{
	color:rgb(150,0,150)
}
.list {
font-size: 15px;
color: rgb(120,110,70);
list-style-type: disc
}
.table {
  width: 500px;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.table thead {
  font-weight: bold;
  font-size: 13pt;
  color: rgb(80,130,90);
  background-color: #d5f4e6;
}
.tabhead { 
    font-weight: bold; /* Жирное начертание текста */
    text-align: left; /* Выравнивание по левому краю */

