<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <a href="{{url_for('index')}}">Главная страница</a>  <!-- Гиперссылка на главную страницу с использованием шаблонизатора (например, Flask) -->
        <a href="{{url_for('users')}}">Спортсмены</a>  <!-- Создание ссылки на страницу "Спортсмены" -->
        <a href="{{url_for('contacts')}}">Контакты</a>  <!-- Создание ссылки на страницу "Контакты" -->
        <h1>Главная</h1>  <!-- Заголовок страницы -->
        <p>Спортивные товары</p>  <!-- Абзац с текстом о спортивных товарах -->
        <a href="{{url_for('static', filename ='sport.pptx')}}" download>Скачать файл</a>
    </body>
</html>
