<!DOCTYPE html>  <!-- Этот тег объявляет версию HTML и тип документа, к которому он относится. -->
<html>
    <head>
      <link rel = "stylesheet" href = "{{url_for('static', filename ='styles.css')}}">  <!-- Добавляем ссылку на внешний CSS файл с помощью тега link. Используем шаблонизатор для указания пути к файлу. -->
    </head>
    <body>
        <a href="{{url_for('index')}}">Главная страница</a>  <!-- Гиперссылка на главную страницу с использованием шаблонизатора (например, Flask) -->
        <a href="{{url_for('users')}}">Спортсмены</a>  <!-- Гиперссылка на страницу со списком спортсменов с использованием шаблонизатора (например, Flask) -->
        <a href="{{url_for('contacts')}}">Контакты</a>  <!-- Гиперссылка на страницу с контактной информацией с использованием шаблонизатора (например, Flask) -->
        <h1>USERS_TEST </h1>  <!-- Заголовок страницы -->
        <table class ="table">  <!-- Начало таблицы с применением класса "table" -->
          <caption class = "subtitle">Таблица User'ов</caption>  <!-- Заголовок таблицы с применением класса "subtitle" -->
          <thead class ="thead">  <!-- Заголовок таблицы с применением класса "thead" -->
            <tr>  <!-- Начало строки заголовков -->
              <th>Id</th>  <!-- Заголовок столбца "Id" -->
              <th>Name</th>  <!-- Заголовок столбца "Name" -->
              <th>Gender</th>  <!-- Заголовок столбца "Gender" -->
              <th>Age</th>  <!-- Заголовок столбца "Age" -->
              <th>Country</th>  <!-- Заголовок столбца "Country" -->
              <th>Sport</th>  <!-- Заголовок столбца "Sport" -->
            </tr>  <!-- Конец строки заголовков -->
          </thead>  <!-- Конец заголовка таблицы -->
          <tbody >  <!-- Начало тела таблицы -->
            {% for user in users %}  <!-- Цикл для вывода информации о пользователях -->
              <tr>  <!-- Начало строки для каждого пользователя -->
                <th>{{user.id}}</th>  <!-- Отображение идентификатора пользователя -->
                <th align="left">{{user.name}}</th>  <!-- Отображение имени пользователя слева по выравниванию -->
                <th>{{user.gender}}</th>  <!-- Отображение пола пользователя -->
                <th>{{user.age}}</th>  <!-- Отображение возраста пользователя -->
                <th align="left">{{user.country}}</th>  <!-- Отображение страны пользователя слева по выравниванию -->
                <th align="left">{{user.sport}}</th>  <!-- Отображение спорта, которым занимается пользователь, слева по выравниванию -->
              </tr>  <!-- Конец строки для каждого пользователя -->
            {% endfor %}  <!-- Завершение цикла для вывода информации о пользователях -->
          </tbody>  <!-- Конец тела таблицы -->
        </table>  <!-- Конец таблицы -->
    </body>
</html>
